.main{
    height: 100vh;
    width: 100vw;
    background : linear-gradient(to bottom, #42275a,#734b6d);
    position : relative;
}
.container{
    margin: auto;
    height : 30rem;
    width : 40rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.main p{
    font-size : 2rem;
    font-weight : bold;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color : #ccc1c1
}

.main span{
    color : #fff;
    padding : 1rem;

}
.inputDiv{
    padding : 1rem;
    min-width: 25rem;
    margin: auto;
    max-width: 40rem;
}
.message{
    width : 40rem;
    margin: auto;
    transition: 0.9s all ease;

}

