
.App {
  min-height: 100vh;
  background: #c6d1ce;
}


@media (prefers-reduced-motion: no-preference) {
  .rotateInfinity {
    animation: App-logo-spin infinite 3s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cursorPointer{
  cursor: pointer
}

/* remvove arrows from input type number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.centered {
  text-align: center;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.coverImg{
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin : auto;
}

.roundImg{
    border-radius: 50%;
}

.glassFilter {
  background: rgba(233, 223, 223, 0.8);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .glassFilter {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
.whiteCard{
  background-color : #fff;
  padding : 2rem;
}
.fullWidth{
  min-width: 100vw;
}
.fullHeight{
  min-height:  calc(100vh - 64px);
}
