.card{
    background-color : #fff;
    margin : 0.3rem;
    border-radius : 10px;
    display : inline-flex;
    min-width : 20rem;
}


.uidivider{
    padding : 0 !important;
}
.card div{
    padding : 1rem;
}
.card img {
    height: 4rem;
    width : 4rem;
    border-radius: 50%;
    object-fit: cover;
}

.nameDiv{
    margin :auto;

}

.name{
    margin-bottom : 0.2rem;
    font-weight: bold;
}

.department{
    margin-top: 0.2rem;
    color :rgb(119, 122, 122);
}