#loginForm{
    min-height: 100vh;
    background : linear-gradient(#42275a,#734b6d)
}
.label{
    color : rgb(255, 255, 255) !important;
    float : left
}

.forgotPassword{
    margin :2rem auto auto ;
}

.loginBlock{
    background: linear-gradient(#007377, #63edff);
    box-shadow: 0 1px;
    border-radius: 50% 20% / 10% 40%;
    width: 50%;
    margin : auto;
    padding : 5rem;

}

.loginBlock input {
    width: 10rem;
}

@media only screen and (max-width: 700px) {
  .loginBlock{
    width: 100%;
    padding : 1rem;
  }
}