#loginForm{
    background-color: #282c34;
    min-height: 100vh;
}
.label{
    color : #fff !important;
}

.divider::before{
    background-color: unset !important;

}
.forgotPassword{
    margin :2rem auto auto ;
    color : white !important
}